.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  background-color: #f9f9f9;
}
.card h3 {
  color: rgb(52 73 94);
}
.card p {
  margin-top: 10px;
}
