h2{
    color: rgb(52 73 94);
}
.usermanage {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.usermanage th, 
.usermanage td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    max-width: 300px;
    word-break: break-all;
}
.usermanage th {
    background: #1a2633;
    color: white;
}
button{
    background-color: #ef4b4b;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    transition: background 0.3s;
    cursor: pointer;
}
td .green{
    background-color: green;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}
td .red{
    background-color: #ef4b4b;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}

.filter form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filter form input{
    width: 300px;
}
.filter form input,select{
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: transparent;
        color: #656363;
}
form .reset{
    width: 100px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 0px;
}

