*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-btn.active {
   background: #ef4b4b;
    color: #fff;
    border: none;
}
.tabs button{
        padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
        color: rgb(118 132 147);
    background: #f5f5f5;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f0ecec;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.photo{
    display: flex;
    gap: 10px;
}
.name{
    margin-top: 10px;

}
.name h4{
    color: rgb(52 73 94);
    font-weight: bold;
    font-size: 18px;
}
.name p{
    color: rgb(118 132 147);
    margin-top: 5px;
    font-size: 16px;
}
.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}
.container{
        display: grid;
    gap: 20px;
    margin-top: 30px;
}
.action{
    display: flex;
    gap: 20px;
    align-items: center;
}
.action .accept{
    padding: 8px 16px;
    background: green;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.action .reject{
    padding: 8px 16px;
    background: #ef4b4b;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.head2{
    margin-top: 20px;
       color: rgb(52 73 94);
}
.requestsent{
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
    opacity: 0.6;
    padding: 8px 16px;
    border-radius: 10px;
}
.contact {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border: 1px solid #ddd;
    background-color:#f3f2f2;
    color: #484343;
    text-decoration: none;
}
.shortlist{
     padding: 8px 16px;
    background: #ef4b4b;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.btnd{
    padding: 8px 16px;
    cursor:not-allowed;
}
.connect-btn{
    padding: 8px 16px;
    background: #ef4b4b;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;

}
.message-btn{
    margin-left: auto;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    background: #dedede;
}

.unread-count {
    display: inline-block;
    background-color: #ff3b30;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
    margin-top: 5px;
    font-weight: bold;
}