
section {
    width: 420px;
    margin: 100px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ef4b4b;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ce5252;
}

p {
    font-size: 14px;
    color: #555;
}

p a {
    text-decoration: none;
    color: #007bff;
    transition: 0.3s;
}

p a:hover {
    color: #0056b3;
}

p.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
