.pagination{
    margin-top: 20px;
}
.pagination ul{
    display: flex;
    justify-content: end;
}
.pagination ul {
    list-style: none;
}
.pagination ul li:hover{
    background-color:rgb(236, 236, 236);
    color: white;
}
.pagination nav ul li a{
    text-decoration: none;
    color:#2c3e50;
    display: block;
    border: 1px solid #ddd;
    padding: 10px 16px;
    cursor: pointer;
}
.pagination nav ul li a:hover{
    background-color: #d67c7c;
    color: white;
}

.pagination ul li a.active{
   background-color: #ef4b4b;
    color: white;
}