section{
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.line{
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 10px;
}

.edit {
    margin-bottom: 20px; 
}
.edit h2{
   color: rgb(52 73 94 );
}
form{
    display: grid;
    gap: 10px;
}

.edit label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.edit input,select,textarea {
    width: 100%;
    padding: 10px;
 border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.update{
    gap: 20px;
    align-items: center;
    margin-left: auto;
}
.update .bk{
    background-color: #ececec;
    color: black;
    font-size: 1em;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    border: none;
    margin-right: 20px;
}
.update .edit {
   background-color: #ef4b4b;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

button:hover {
     background-color: #ce5252;
}

