body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
}
.formsection {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
   color: rgb(52 73 94 );
    margin-bottom: 20px;
}
p[style="color: red;"] {
    color: red;
    text-align: center;
    font-size: 14px;
}
label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
    margin-top: 15px;
}
input, select, textarea {
    width: 100%; 
    max-width: 680px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}
select {
    height: 40px;
}
textarea {
    height: 100px;
    resize: vertical;
}
button {
    background-color: #ef4b4b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 117px;
    margin-top: 10px;
}
button:hover {
     background-color: #dd5656;
}
a {
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.skip{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
}
.skip a{
    background-color: #f2f0f0;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    width: 84px;
    margin-top: 10px;
    text-align: center;
    text-decoration:none;
}
