body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-view {
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.profile-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.profile-header .edit{
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile-photod {
    flex-shrink: 0;
}

.profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
     border: 3px solid #007bff;
}

.profile-basic h1 {
    margin: 0;
    font-size: 28px;
  color: rgb(52 73 94 );
}
.profile-basic h4{
  font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.profile-basic .meta {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.profile-basic .location {
    font-size: 14px;
    color: #888;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.connect-btn {
    background-color: #ef4b4b;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 10px;
}

.connect-btn:hover {
    background-color: #da4f4f;
}

.shortlist-btn {
    background-color: #f39c12;
    color: #fff;
}

.shortlist-btn:hover {
    background-color: #d68910;
}

.profile-section {
    margin-top: 30px;
}

.profile-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(52 73 94 );
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.profile-section p {
    line-height: 1.6;
        color: rgb(118 132 147 );
}

.profile-section.details ul {
    list-style: none;
    padding: 0;
}

.profile-section.details li {
    padding: 6px 0;
    border-bottom: 1px dashed #eee;
}

.profile-section.details li strong {
    width: 313px;
    display: inline-block;
    color: #555;
}
.back{
    display: flex;
    justify-content: end;
}
.back a{
    display: inline-block;
    background-color: #ececec;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    text-align: end;
}
.shortlist-icon{
    padding: 8px 16px;
    background: #ef4b4b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btnd{
   padding: 8px 16px;
    cursor:not-allowed; 
}
.editprofile{
    padding: 8px 16px;
    background: #ef4b4b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.disconnect{
    padding: 8px 16px;
    background: #ef4b4b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

}
.message-btn{
    margin-left: auto;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    color: black
}

