
.btn{
    display: flex;
    justify-content: right;
}
.btn a{
   padding: 8px 16px;
   border-radius: 10px;
   background-color:rgb(20, 130, 167);
   color: white;
   text-decoration: none;

}

.querystatus {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.querystatus th, 
.querystatus td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    max-width: 300px;
    word-break: break-all;
}
.querystatus th {
    background: #1a2633;
    color: white;
}
.pending{
    color: rgb(88, 88, 11);
}
.reviewed{
    color: rgb(27, 99, 122);
}
.resolved{
    color: green;
}