* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 40px;
}

h3 {
    text-align: center;
    font-size: 1.6em;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], select {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

input[type="text"]:focus, select:focus {
    border-color: #3498db;
}

button {
   background-color: #ef4b4b;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
     background-color: #ce5252;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


